* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-image: url(../img/design1_image2.jpg);
    background-size: 100%;
    height: 289px;
    background-repeat: no-repeat;
}

#logo {
    width: 100px;
    display: none;

}



#jugador {
    width: 150px;
    height: 150px;
    display: none;
}

nav>a {
    font-family: cursive;
    display: inline-block;
    color: white;
    border: 1px solid black;
    background-color: blue;
    text-decoration: none;
    box-shadow: 3px 3px 9px 2px black;
    position: relative;
    text-align: center;
    width: 65px;
    margin: 5px;
    font-weight: 2;
}

nav {
    position: relative;
    left: 64%;
    bottom: 33rem;
    display: inline-block;

}


#active {
    background-color: green;
}

h2 {
    background-color: black;
    color: white;
    text-align: center;
    font-family: cursive;
}

h1 {
    font-family: cursive;
    font-weight: 100;
    display: inline-block;
    width: 79%;
    font-size: 65px;
    height: 92px;
}

.lista-tarea {
    display: inline-block;
    position: relative;
    left: 28%;
    bottom: 170px;
    width: 65%;
}

.lista-tarea li {
    padding: 5px;
    list-style-type: none;
    font-family: cursive;
}

.box-logo {
    display: inline-block;
    position: relative;
    left: 8%;
    top: 15px;
}

#logo-2 {
    width: 200px;
}
 
#info-c p{
    padding: 5px;
    list-style-type: none;
    font-family: cursive;
    position: relative;
    left: 30%;
    bottom: 120px;
}