* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightyellow;
}

header {
    background-image: url(../img/design1_image2.jpg);
    background-size: 100%;
    height: 289px;
    background-repeat: no-repeat;
}

#logo {
    width: 100px;
    display: none;
}

#logo-2 {
    width: 112px;
}


#jugador {
    width: 273px;
    margin: 10px;
}

nav>a {
    font-family: cursive;
    color: white;
    border: 1px solid black;
    background-color: blue;
    text-decoration: none;
    box-shadow: -8px 4px 8px -4px rgb(243, 238, 238);
    text-align: center;
    
    margin: 5px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.box-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    margin: 0px 0px 22px;
}


#active {
    background-color: green;
}



#tit {
    color: white;
    font-family: cursive;
}

h1 {

    font-family: cursive;
    color: yellow;
    backdrop-filter: blur(2px);

}

#titulo {
    position: relative;
    top: 159%;
    left: 29%;
    color: black;
}

.titulos {
   
    margin: 5px;
}

.titulos h6 {
    text-decoration-line: underline;
}

.lista-tarea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista-tarea li {
    padding: 5px;
    list-style-type: none;
    font-family: cursive;
}

#info-c p {
    padding: 10px;
    list-style-type: none;
    font-family: cursive;

}

#info-c {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin: 20px;
}

.m-rules {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.m-igame {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    align-content: flex-start;
   
}

.m-about {
    display: flex;
    flex-wrap: inherit;
}

.lista-orde ol li {
    margin: 3px 20px 11px 26px;
}

.lista-orde ul li {
    list-style: lower-latin;
}

.box-lista ul li {
    padding: 12px 20px 11px;
    list-style: none;
}

.contactos {
    display: flex;
    justify-content: space-between;
    margin: 7px 3px 20px 18px;
}


.titulo-rules {
    text-align: center;
}

.list-desc1 dd {
    margin: 20px;
}

dt {
    font-weight: bold;
    margin: 20px;
}

.list-desc1 {
    margin: 20px;
}

#list-o {
    margin: 20px;
}

.list-desc2 {
    margin: 20px;
}

.list-desc2 dd {
    margin: 20px;
}

td {
    padding: 2px 14px;
}
form {
    padding: 20px;
    margin: 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: bisque;
    align-items: baseline;
}

fieldset {
    margin: 5px;
    padding: 7px;
}
span#grado {
    font-size: x-small;
    position: relative;
    bottom: 8px;
}
label {
    padding: 5px;
    margin: 4px
}